/*css document*/
*{padding: 0;margin: 0;}
html,body{height: 100%;position: relative;}
@font-face {
	font-family:lisu;
	src: url(../font/lisu.ttf);
}
.swiper-wrapper{width: 100%;height: 100%;}
.swiper-container{background: url(../img/bg.jpg)no-repeat center;background-size:100% 100%;height: 100%;}
.snow-canvas{display: block;width: 100%;height: 100%;top: 0;left: 0;position: fixed;z-index: 9; pointer-events: none;}
.swiper-slide p{font-family:lisu;text-align: center;font-size: 8rem;color: rgb(185, 14, 14);font-weight: 600;}
.swiper-slide p:nth-child(1){font-family:lisu;text-align: center;font-size: 8rem;margin-top: 4rem;}
.swiper-slide p:nth-child(2),.swiper-slide p:nth-child(3),.swiper-slide p:nth-child(4){font-family:lisu;text-align: center;font-size: 8rem;margin-top: 1rem;}
